/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 //= depend_on_asset "wallpaper_1.png"

@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700);

body {
 font-family: 'Quicksand', sans-serif;
 overflow-x: hidden;
}

.panel h3 {
  color: white;
  font-family: 'Quicksand', sans-serif;
}

#main-index {
  background-image: url('<%= asset_path("wallpaper_1.png") %> ');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo {
 border: 0 1px 0 1px #696969;
 width: 200px;
 margin-bottom: 5px;
}

.title {
 color: white;
 font-size: 110px;
 text-align: center;
 position: relative;
}

.row {
 margin-bottom: 2em;
}

.panel {
 width: auto;
 border: 1px solid #09182f;
 background-color: rgba(105, 105, 105, 0.7);
 padding: 15px 8px 8px 30px;
 box-shadow: -3px 5px 3px #E6E6E6;
 z-index: -10;
}

.team-image {
 box-shadow: 0 3px 6px #1a1a1a;
}

.team-name {
 color: white;
 font-size: 50px;
 text-align: center;
 position: relative;
}

.team-details-link {
  transition: all .15s ease-in-out;
}

.team-details-link :hover {
  transform: scale(1.1);
}

.view-team-details {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  background-color: #B2B2B2;
  border: 1px solid #000000;
  transition: none;
  z-index: 0;
}

.view-team-details :hover {
  transform: none;
}

.team-info {
  margin: 20px 30px 10px 30px;
  text-align: center;
}

.draft {
  color: white;
}

.player-link {
  transition: all .15s ease-in-out;
  position: relative;
  z-index: 5;
}

.player-link :hover {
  transform: scale(1.1);
}

.player-panel {
 margin: 0 10px 0 0;
 border: 1px solid #000000;
 background-color: #B2B2B2;
 padding: 4px 4px 0;
 box-shadow: 0 3px 6px #1a1a1a;
 transition: none;
 z-index: -2;
}

.player-panel :hover {
  transform: none;
}

.player-image {
 margin: 0 10px 21px 0;
 border: 1px solid #09182f;
 position: relative;
 background-color: #2a2a2a;
 vertical-align: top;
 z-index: 0;
}

.player-name {
 vertical-align: middle;
 overflow: hidden;
}
